In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("seaborn-darkgrid")
plt.rcParams["patch.force_edgecolor"] = True
%matplotlib inline

In [107]:
def load_churn_data(filename):
    df = pd.read_csv(filename)
    df['last_trip_date'] = pd.to_datetime(df['last_trip_date'], yearfirst=True, format='%Y/%m/%d')
    df['signup_date'] = pd.to_datetime(df['signup_date'], yearfirst=True, format='%Y/%m/%d')
    churn_date = pd.datetime(2014,7,1) - pd.to_timedelta(30, unit='D')
    two_week_date = pd.datetime(2014,7,1) - pd.to_timedelta(14, unit='D')
    df['ride_last_two_weeks'] = df["last_trip_date"] >= two_week_date
    df['churn'] = df["last_trip_date"] < churn_date
    return df

In [108]:
test_df = load_churn_data('../data/churn.csv')

In [109]:
test2 = load_churn_data('../data/churn_train.csv')

In [110]:
test_df['last_trip_date'].nunique()

182

In [111]:
test_df['signup_date'].nunique()

31

In [112]:
test_df.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,ride_last_two_weeks,churn
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2,True,False
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0,False,True
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0,False,True
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0,True,False
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4,False,True

In [113]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null datetime64[ns]
phone                     49604 non-null object
signup_date               50000 non-null datetime64[ns]
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
ride_last_two_weeks       50000 non-null bool
churn                     50000 non-null bool
dtypes: bool(3), datetime64[ns](2), float64(6), int64(1), object(2)
memory usage: 4.3+ MB

In [114]:
test_df[test_df['churn'] == True]['last_trip_date'].max()

Timestamp('2014-05-31 00:00:00')

In [115]:
test_df[test_df['churn'] == False]['last_trip_date'].min()

Timestamp('2014-06-01 00:00:00')

In [116]:
test_df[test_df['ride_last_two_weeks'] == True]['last_trip_date'].min()

Timestamp('2014-06-17 00:00:00')

In [117]:
test_df[test_df['ride_last_two_weeks'] == False]['last_trip_date'].max()

Timestamp('2014-06-16 00:00:00')

In [36]:
df = pd.read_csv('../data/churn.csv')

In [37]:
df.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4

In [38]:
df.columns

Index(['avg_dist', 'avg_rating_by_driver', 'avg_rating_of_driver', 'avg_surge',
       'city', 'last_trip_date', 'phone', 'signup_date', 'surge_pct',
       'trips_in_first_30_days', 'luxury_car_user', 'weekday_pct'],
      dtype='object')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null object
phone                     49604 non-null object
signup_date               50000 non-null object
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 4.2+ MB

In [40]:
df.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,50000.000000,49799.000000,41878.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,5.796827,4.778158,4.601559,1.074764,8.849536,2.278200,60.926084
std,5.707357,0.446652,0.617338,0.222336,19.958811,3.792684,37.081503
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.420000,4.700000,4.300000,1.000000,0.000000,0.000000,33.300000
50%,3.880000,5.000000,4.900000,1.000000,0.000000,1.000000,66.700000
75%,6.940000,5.000000,5.000000,1.050000,8.600000,3.000000,100.000000
max,160.960000,5.000000,5.000000,8.000000,100.000000,125.000000,100.000000

In [41]:
avg_by_driver_null = df[df['avg_rating_by_driver'].isnull()].copy()

In [42]:
avg_by_driver_null.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,201.000000,0.0,134.000000,201.000000,201.000000,201.000000,201.000000
mean,6.167164,NaN,4.526119,1.165821,15.754726,0.552239,53.233831
std,12.259533,NaN,0.930513,0.471684,36.370207,0.537129,50.019897
min,0.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.980000,NaN,4.000000,1.000000,0.000000,0.000000,0.000000
50%,3.360000,NaN,5.000000,1.000000,0.000000,1.000000,100.000000
75%,6.370000,NaN,5.000000,1.000000,0.000000,1.000000,100.000000
max,160.960000,NaN,5.000000,4.000000,100.000000,2.000000,100.000000

In [43]:
avg_of_driver_null = df[df['avg_rating_of_driver'].isnull()].copy()

In [44]:
avg_of_driver_null.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct
count,8122.000000,8055.000000,0.0,8122.000000,8122.000000,8122.000000,8122.000000
mean,7.506267,4.785984,NaN,1.078210,8.548067,0.593327,59.050948
std,7.758616,0.622122,NaN,0.310306,26.578461,0.606755,46.859739
min,0.000000,1.000000,NaN,1.000000,0.000000,0.000000,0.000000
25%,2.410000,5.000000,NaN,1.000000,0.000000,0.000000,0.000000
50%,4.715000,5.000000,NaN,1.000000,0.000000,1.000000,100.000000
75%,10.720000,5.000000,NaN,1.000000,0.000000,1.000000,100.000000
max,160.960000,5.000000,NaN,5.000000,100.000000,5.000000,100.000000

In [45]:
df['last_trip_date'].head()

0    2014-06-17
1    2014-05-05
2    2014-01-07
3    2014-06-29
4    2014-03-15
Name: last_trip_date, dtype: object

In [46]:
df['last_trip_date'] = pd.to_datetime(df['last_trip_date'], yearfirst=True, format='%Y/%m/%d')

In [48]:
df['signup_date'] = pd.to_datetime(df['signup_date'], yearfirst=True, format='%Y/%m/%d')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null datetime64[ns]
phone                     49604 non-null object
signup_date               50000 non-null datetime64[ns]
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), datetime64[ns](2), float64(6), int64(1), object(2)
memory usage: 4.2+ MB

In [60]:
churn_date = pd.datetime(2014,7,1) - pd.to_timedelta(30, unit='D')
churn_date

datetime.datetime(2014, 6, 1, 0, 0)

In [62]:
df['churn'] = df["last_trip_date"] >= churn_date

In [64]:
df['churn'].value_counts()

False    31196
True     18804
Name: churn, dtype: int64